*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
      background-color: black;
  }
  #myclock{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        color:#17d4fe;
        font-size: xx-large;

  }